@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
  width: 100%;
  height: 100%;
  background-color: #fff; }
  body #body {
    width: 100%;
    height: 100%;
    /*HOME SECTION*/
    /*Now in cinema*/ }
    body #body header {
      width: 100%;
      height: 60px;
      background-color: #E50000;
      box-shadow: 0px 2px 5px #888888; }
      body #body header #marvelLogo {
        width: 40px;
        background-color: #ED1D24;
        font: 600 15px 'Oswald';
        float: left;
        color: #fff;
        text-align: center;
        border: 1px solid #fff;
        transform: rotate(-45deg);
        letter-spacing: -1px;
        margin: 15px 0 0 30%;
        box-shadow: 0px 2px 5px #000; }
      body #body header h1 {
        font: italic 600 30px 'Oswald';
        padding-top: 5px;
        color: #fff;
        float: left;
        margin-left: -15px; }
      body #body header #hamburgerButton {
        width: 30px;
        height: 18px;
        float: right;
        margin: 21px 21px 0 0; }
        body #body header #hamburgerButton #firstLine, body #body header #hamburgerButton #secondLine, body #body header #hamburgerButton #thirdLine {
          width: 30px;
          height: 4px;
          background-color: #fff;
          transition: 0.3s;
          position: relative; }
        body #body header #hamburgerButton #firstLine {
          top: 0; }
        body #body header #hamburgerButton #secondLine {
          top: 3px; }
        body #body header #hamburgerButton #thirdLine {
          top: 6px; }
        body #body header #hamburgerButton .change1 {
          top: 7px !important;
          transform: rotate(45deg); }
        body #body header #hamburgerButton .change2 {
          top: 3px !important;
          transform: rotate(-45deg); }
    body #body #nav {
      width: 80%;
      height: 124px;
      background-color: #fff;
      transform: skew(-45deg);
      margin-left: -100%;
      margin-top: -5px;
      box-shadow: 5px 5px 18px #888888;
      transition: 1s;
      visibility: hidden; }
      body #body #nav a {
        font: italic 500 20px 'Oswald';
        color: #000;
        border-bottom: 1px solid #000;
        display: block;
        transform: skew(45deg);
        margin-left: 45%;
        width: 50%; }
      body #body #nav a:last-child {
        border-bottom: none; }
    body #body #homeSection {
      width: 100%;
      margin-top: -124px;
      transition: 1s;
      margin-bottom: 124px;
      /*		display: none;                       /*display none*/ }
      body #body #homeSection .movie {
        width: 90%;
        height: 100px;
        margin: 10px 5% 0 5%;
        padding-bottom: 10px;
        border-bottom: 1px solid #C0C0C0; }
        body #body #homeSection .movie .movImg {
          height: 90px;
          margin-top: 5px;
          float: left; }
        body #body #homeSection .movie .movInfo {
          float: left;
          margin: 2px 0 0 5px; }
          body #body #homeSection .movie .movInfo h3 {
            font: italic 600 20px 'Oswald';
            color: #000; }
          body #body #homeSection .movie .movInfo p {
            font: 200 12px 'Oswald';
            color: #C0C0C0; }
          body #body #homeSection .movie .movInfo .buy-tickets {
            width: 70px;
            height: 25px;
            background-color: #00FF00;
            margin: 0 0 0 0;
            cursor: pointer; }
            body #body #homeSection .movie .movInfo .buy-tickets p {
              color: #fff;
              font: 600 15px 'Oswald';
              text-align: center; }
    body #body #content {
      width: 100%;
      margin-top: -124px;
      transition: 1s; }
      body #body #content #nowInCinema, body #body #content #soonInCinema {
        width: 100%;
        text-align: center; }
        body #body #content #nowInCinema .movie, body #body #content #soonInCinema .movie {
          width: 90%;
          border-bottom: 1px solid #C0C0C0;
          margin: 10px 5%;
          padding-bottom: 10px; }
          body #body #content #nowInCinema .movie .movImg, body #body #content #soonInCinema .movie .movImg {
            width: 60%; }
          body #body #content #nowInCinema .movie h3, body #body #content #soonInCinema .movie h3 {
            font: italic 600 30px 'Oswald';
            color: #000; }
          body #body #content #nowInCinema .movie p, body #body #content #soonInCinema .movie p {
            font: 200 18px 'Oswald';
            color: #C0C0C0; }
          body #body #content #nowInCinema .movie .plot, body #body #content #soonInCinema .movie .plot {
            font: 600 15px 'Oswald';
            color: #000; }
          body #body #content #nowInCinema .movie .imbd, body #body #content #soonInCinema .movie .imbd {
            width: 20%;
            margin-top: 10px; }
      body #body #content #soonInCinema .relDt {
        font: 600 20px 'Oswald' !important;
        color: #E50000 !important; }
      body #body #content #marvelUniverse {
        width: 100%; }
        body #body #content #marvelUniverse .movie {
          width: 90%;
          height: 80px;
          margin: 10px 5% 0 5%;
          padding-bottom: 10px;
          border-bottom: 1px solid #C0C0C0; }
          body #body #content #marvelUniverse .movie .movInfo {
            float: left;
            margin-top: 5px;
            width: 80%; }
            body #body #content #marvelUniverse .movie .movInfo h3 {
              font: italic 600 20px 'Oswald';
              color: #000; }
            body #body #content #marvelUniverse .movie .movInfo .imbd {
              height: 15px; }
          body #body #content #marvelUniverse .movie .movImg {
            height: 70px;
            margin: 5px 5px 0 0;
            float: right; }
      body #body #content #trailers {
        width: 100%;
        margin-top: 10px;
        text-align: center; }
        body #body #content #trailers .movie {
          width: 90%;
          border-bottom: 1px solid #C0C0C0;
          padding: 10px 0;
          margin: 0 5%; }
        body #body #content #trailers iframe {
          width: 100%;
          height: 200px; }
        body #body #content #trailers h3 {
          font: italic 600 20px 'Oswald';
          color: #000; }
    body #body #getTickets {
      width: 100%;
      padding-bottom: 30%;
      display: none;
      margin: -124px 0 60px 0;
      /*dispal none*/ }
      body #body #getTickets h1 {
        font: italic 600 20px 'Oswald';
        margin-left: 10px; }
      body #body #getTickets h2 {
        font: italic 600 20px 'Oswald';
        text-align: center; }
      body #body #getTickets #close-buy-tickets {
        width: 20px;
        float: right;
        margin: -22px 30px 0 0;
        cursor: pointer; }
      body #body #getTickets .expSeat {
        width: 50%;
        height: 40px;
        margin-left: 10px; }
        body #body #getTickets .expSeat p {
          font: 15px 'Oswald';
          float: left;
          margin: 9px 0 0 5px; }
        body #body #getTickets .expSeat img {
          width: 25px;
          float: left; }
      body #body #getTickets #seats {
        text-align: center;
        margin: 0 auto;
        width: 300px; }
        body #body #getTickets #seats .seat {
          width: 25px;
          cursor: pointer; }
    body #body #bottom {
      width: 100%;
      height: 220px;
      background-color: #E50000; }
      body #body #bottom #bottomInfo {
        width: 85%;
        top: 20px;
        left: 10%;
        bottom: 20px;
        position: relative;
        border-left: 1px solid #fff; }
        body #body #bottom #bottomInfo img {
          width: 20px;
          margin-right: 10px;
          margin-left: 20px; }
        body #body #bottom #bottomInfo #marvelBottomLogo {
          width: 40px;
          background-color: #ED1D24;
          font: 600 15px 'Oswald';
          color: #fff;
          text-align: center;
          border: 1px solid #fff;
          letter-spacing: -1px;
          box-shadow: 0px 2px 5px #000;
          margin: 10px 0 0 20px; }
        body #body #bottom #bottomInfo h1 {
          font: 15px 'Oswald';
          color: #fff;
          margin: 5px 0 0 20px; }
        body #body #bottom #bottomInfo p {
          font: 10px 'Oswald';
          color: #fff;
          margin: 5px 0 0 20px; }

@media screen and (min-width: 768px) {
  body #body {
    /*HOME SECTION*/
    /*Now in cinema*/ }
    body #body header #marvelLogo {
      margin: 15px 0 0 40%; }
    body #body #nav {
      width: 60%; }
    body #body #homeSection {
      /*		display: none;                       /*display none*/ }
      body #body #homeSection .movie {
        height: 150px; }
        body #body #homeSection .movie .movImg {
          height: 140px; }
        body #body #homeSection .movie .movInfo {
          margin: 5px 0 0 5px; }
          body #body #homeSection .movie .movInfo h3 {
            font: italic 600 30px 'Oswald'; }
          body #body #homeSection .movie .movInfo p {
            font: 200 18px 'Oswald'; }
    body #body #content #nowInCinema .movie, body #body #content #soonInCinema .movie {
      margin: 20px 5%; }
      body #body #content #nowInCinema .movie h3, body #body #content #soonInCinema .movie h3 {
        font: italic 600 40px 'Oswald'; }
      body #body #content #nowInCinema .movie p, body #body #content #soonInCinema .movie p {
        font: 200 24px 'Oswald'; }
      body #body #content #nowInCinema .movie .plot, body #body #content #soonInCinema .movie .plot {
        font: 600 20px 'Oswald'; }
    body #body #content #soonInCinema .relDt {
      font: 600 30px 'Oswald' !important;
      color: #E50000 !important; }
    body #body #content #marvelUniverse .movie {
      height: 120px; }
      body #body #content #marvelUniverse .movie .movInfo {
        margin-top: 20px; }
        body #body #content #marvelUniverse .movie .movInfo h3 {
          font: italic 600 26.7px 'Oswald'; }
        body #body #content #marvelUniverse .movie .movInfo .imbd {
          height: 22.5px; }
      body #body #content #marvelUniverse .movie .movImg {
        height: 110px; }
    body #body #content #trailers {
      margin-top: 20px; }
      body #body #content #trailers .movie {
        width: 80%;
        padding: 20px 0;
        margin: 0 10%; }
      body #body #content #trailers iframe {
        height: 370px; }
      body #body #content #trailers h3 {
        font: italic 600 30px 'Oswald'; }
    body #body #getTickets {
      /*		display: none;											/*dispal none*/ }
      body #body #getTickets h1 {
        font: italic 600 30px 'Oswald'; }
      body #body #getTickets h2 {
        font: italic 600 30px 'Oswald'; }
      body #body #getTickets .expSeat {
        height: 60px; }
        body #body #getTickets .expSeat p {
          font: 22.5px 'Oswald';
          margin: 13px 0 0 5px; }
        body #body #getTickets .expSeat img {
          width: 37.5px; }
      body #body #getTickets #seats {
        width: 450px; }
        body #body #getTickets #seats .seat {
          width: 37.5px; }
    body #body #bottom {
      height: 180px; } }
@media screen and (min-width: 990px) {
  body {
    background: url("../img/marvelBackground.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    background-color: #fff; }
    body #body {
      width: 990px;
      height: 100vh;
      margin: 0 auto;
      /*HOME SECTION*/
      /*Now in cinema*/ }
      body #body header {
        height: 120px;
        box-shadow: 0px 2px 5px #888888; }
        body #body header #marvelLogo {
          width: 90px;
          font: 600 30px 'Oswald';
          border: 2px solid #fff;
          margin: 30px 0 0 40%; }
        body #body header h1 {
          font: italic 600 60px 'Oswald';
          padding-top: 10px;
          margin-left: -30px; }
        body #body header #hamburgerButton {
          display: none; }
      body #body #nav {
        width: 70%;
        height: 40px;
        margin-left: -20px;
        visibility: visible; }
        body #body #nav a {
          float: left;
          font: italic 700 20px 'Oswald';
          border-bottom: none;
          margin: 5px 0;
          width: 25%;
          text-align: center; }
        body #body #nav a:hover {
          color: #E50000; }
      body #body #homeSection {
        margin-top: -20px;
        background-color: #fff;
        box-shadow: 0px 2px 5px #888888;
        margin-bottom: 0;
        /*		display: none;                       /*display none*/ }
        body #body #homeSection .movie {
          height: 150px;
          margin: 20px 5% 0 5%;
          padding-bottom: 20px; }
          body #body #homeSection .movie .movImg {
            height: 140px; }
          body #body #homeSection .movie .movInfo {
            margin: 5px 0 0 5px; }
            body #body #homeSection .movie .movInfo h3 {
              font: italic 600 30px 'Oswald'; }
            body #body #homeSection .movie .movInfo p {
              font: 200 18px 'Oswald'; }
      body #body #content {
        margin-top: -20px;
        background-color: #fff;
        box-shadow: 0px 2px 5px #888888; }
        body #body #content #nowInCinema .movie, body #body #content #soonInCinema .movie {
          padding: 10px 0;
          margin: 10px 5% 0 5%; }
          body #body #content #nowInCinema .movie .movImg, body #body #content #soonInCinema .movie .movImg {
            width: 30%; }
          body #body #content #nowInCinema .movie .imbd, body #body #content #soonInCinema .movie .imbd {
            width: 7%;
            margin-top: 10px; }
        body #body #content #soonInCinema .relDt {
          font: 600 30px 'Oswald' !important; }
        body #body #content #marvelUniverse .movie {
          height: 120px; }
          body #body #content #marvelUniverse .movie .movInfo {
            margin-top: 20px; }
            body #body #content #marvelUniverse .movie .movInfo h3 {
              font: italic 600 26.7px 'Oswald'; }
            body #body #content #marvelUniverse .movie .movInfo .imbd {
              height: 22.5px; }
          body #body #content #marvelUniverse .movie .movImg {
            height: 110px; }
        body #body #content #trailers {
          margin-top: 20px; }
          body #body #content #trailers .movie {
            width: 60%;
            padding: 20px 0;
            margin: 0 20%; }
          body #body #content #trailers iframe {
            height: 370px; }
          body #body #content #trailers h3 {
            font: italic 600 30px 'Oswald'; }
      body #body #getTickets {
        background-color: #fff;
        box-shadow: 0px 2px 5px #888888;
        padding-bottom: 30%;
        margin-top: 0;
        display: none;
        /*dispal none*/ }
        body #body #getTickets h1 {
          font: italic 600 30px 'Oswald';
          margin-left: 5%; }
        body #body #getTickets h2 {
          font: italic 600 30px 'Oswald';
          margin-top: 80px; }
        body #body #getTickets #close-buy-tickets {
          width: 30px;
          float: right;
          margin: -40px 30px 0 0;
          cursor: pointer; }
        body #body #getTickets .expSeat {
          width: 25%;
          height: 60px;
          float: left;
          margin-left: 5%; }
          body #body #getTickets .expSeat p {
            font: 22.5px 'Oswald';
            margin: 13px 0 0 5px; }
          body #body #getTickets .expSeat img {
            width: 37.5px; }
        body #body #getTickets #seats {
          width: 450px; }
          body #body #getTickets #seats .seat {
            width: 37.5px; }
      body #body #bottom {
        height: 180px;
        margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
