body  {
	width: 100%;
	height: 100%;
	background-color: #fff;


	#body {
		width: 100%;
		height: 100%;
	
		header	{
			width: 100%;
			height: 60px;
			background-color: #E50000;
			box-shadow: 0px 2px 5px #888888;

			#marvelLogo	{
				width: 50px;
				background-color: #E50000;
				font: 600 15px 'Oswald';
				float: left; 
				color: #fff;
				text-align: center;
				border: 3px solid #000;
				transform: rotate(-45deg);
				letter-spacing: -1px;
				margin: 15px 0 0 30%;
			}

			h1	{
				font: italic 600 30px 'Oswald';
				padding-top: 5px;
				color: #fff;
			}

			#hamburgerButton	{
				width: 30px;
				height: 18px;
				float: right;
				margin: -29px 21px 0 0;

				#firstLine, #secondLine, #thirdLine	{
					width: 30px;
					height: 4px;
					background-color: #fff;
					transition: 0.3s;
					position: relative;
				}
				#firstLine	{
					top: 0;
				}
				#secondLine	{
					top: 3px;
				}
				#thirdLine	{
					top: 6px;
				}
				.change1  {
					top: 7px !important;
					transform: rotate(45deg);
				}
				.change2  {
					top: 3px !important;
					transform: rotate(-45deg);
				}


			}
		}

		#nav	{
			width: 80%;
			height: 124px;
			background-color: #fff;
			transform: skew(-45deg);
			margin-left: -100%;
			margin-top: -5px;
			box-shadow: 5px 5px 18px #888888;
			transition: 1s;
			
			a  {
				font: italic 500 20px 'Oswald'; 
				color: #000;
				border-bottom: 1px solid #000;
				display: block;
				transform: skew(45deg);
				margin-left: 45%;
				width: 50%;
			}
			a:last-child  {
				border-bottom: none;
			}
			a:hover	{
				color: #fff;
			}
		}
																/*HOME SECTION*/
		#homeSection	{
			width: 100%;
			margin-top: -124px;
			transition: 1s;
	/*		display: none;                       /*display none*/

			.movie	{
				width: 90%;
				height: 100px;
				margin: 10px 5% 0 5%;
				padding-bottom: 10px;
				border-bottom: 1px solid #C0C0C0;

				#movImg	{
					height: 90px;
					margin-top: 5px;
					float: left;
				}

				#movInfo  {
					float: left;
					margin: 2px 0 0 5px;
				
					h3	{
						font: italic 600 20px 'Oswald';
						color: #000;
					}

					p  {
						font: 200 12px 'Oswald';
						color: #C0C0C0;
					}
				}
			}
		}
		
																/*Now in cinema*/
		#content	{
			width: 100%;
			margin-top: -124px;
			transition: 1s;


			#nowInCinema, #soonInCinema	{
				width: 100%;
				height: 300px;
				text-align: center;

				.movie	{
					width: 90%;
					border-bottom: 1px solid #C0C0C0;
					margin: 10px 5%;
					padding-bottom: 10px;

					#movImg	{
						width: 60%;
					}

					h3	{
						font: italic 600 30px 'Oswald';
						color: #000;
					}

					p  {
						font: 200 18px 'Oswald';
						color: #C0C0C0;
					}

					#plot	{
						font: 600 15px 'Oswald';
						color: #000;
					}

					#imbd	{
						width: 20%;
						margin-top: 10px;
					}
				}
			}
			#soonInCinema	{
				#relDt	{
					font: 600 20px 'Oswald';
					color: #E50000;
				}
			}
		}





	}
	#test{
		display: none;
	}	
}