					<div id="nowInCinema">
						
						<a href="#">
							<div class="movie" id="movieOne">
								<img id="movImg" src="img/thor.jpg">
								<div id="movInfo">
									<h3 id="movName">Thor: Ragnarok</h3>
									<p id="genre">Genre: Action, Adventure, Comedy</p>
									<p id="dur">Duration: 2h 10min</p>
									<p id="relDt">Relase date: 3 November 2017</p>
									<p id="plot">Plot: Thor is imprisoned on the planet Sakaar, and must race against time to return to Asgard and stop Ragnarök, the destruction of his world, at the hands of the powerful and ruthless villain Hela.</p>
									<a href="https://www.imdb.com/title/tt3501632/" target="blank"><img id="imbd" src="img/imbd.png"></a>
								</div>
							</div>
						</a>

						<a href="#">
							<div class="movie" id="movieOne">
								<img id="movImg" src="img/spiderman.jpg">
									<div id="movInfo">
									<h3 id="movName">Spider-Man: Homecoming</h3>
									<p id="genre">Genre: Action, Adventure, Sci-Fi</p>
									<p id="dur">Duration: 2h 13min</p>
									<p id="relDt">Relase date: 7 July 2017</p>
									<p id="plot">Plot: Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter-ego Spider-Man, and finds himself on the trail of a new menace prowling the skies of New York City.</p>
									<a href="https://www.imdb.com/title/tt2250912/" target="blank"><img id="imbd" src="img/imbd.png"></a>
								</div>
							</div>
						</a>	

						<a href="#">
							<div class="movie" id="movieOne">
								<img id="movImg" src="img/panther.jpg">
								<div id="movInfo">
									<h3 id="movName">Black Panther</h3>
									<p id="genre">Genre: Action, Adventure, Sci-Fi</p>
									<p id="dur">Duration: 2h 14min</p>
									<p id="relDt">Relase date: 16 February 2018</p>
									<p id="plot">Plot: T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.</p>
									<a href="https://www.imdb.com/title/tt1825683/" target="blank"><img id="imbd" src="img/imbd.png"></a>
								</div>
							</div>
						</a>

					</div>