					<div id="soonInCinema">
						
						<a href="#">
							<div class="movie">
								<img class="movImg" src="img/captainMarvel.jpg">
								<div class="movInfo">
									<h3 class="movName">Captain Marvel</h3>
									<p class="relDt">Relase date: 8 March 2019</p>
									<p class="genre">Genre: Action, Adventure, Sci-Fi</p>
									<p class="dur">Duration: 2h 8min</p>
									<p class="plot">Plot: Carol Danvers becomes one of the universe's most powerful heroes when Earth is caught in the middle of a galactic war between two alien races.</p>
									<a href="https://www.imdb.com/title/tt4154664/" target="blank"><img class="imbd" src="img/imbd.png"></a>
								</div>
							</div>
						</a>

						<a href="#">
							<div class="movie">
								<img class="movImg" src="img/avengersEnd.jpg">
									<div class="movInfo">
									<h3 class="movName">Avengers: Endgame</h3>
									<p class="relDt">Relase date: 26 April 2019</p>
									<p class="genre">Genre: Action, Adventure, Fantasy</p>
									<p class="dur">Duration: 2h 13min</p>
									<p class="plot">Plot: Plot is unknown.</p>
									<a href="https://www.imdb.com/title/tt4154796/" target="blank"><img class="imbd" src="img/imbd.png"></a>
								</div>
							</div>
						</a>	

						<a href="#">
							<div class="movie">
								<img class="movImg" src="img/spidermanFar.jpg">
								<div class="movInfo">
									<h3 class="movName">Spider-Man: Far From Home</h3>
									<p class="relDt">Relase date: 5 July 2019</p>
									<p class="genre">Genre: Action, Adventure, Comedy</p>
									<p class="dur">Duration: 2h 14min</p>
									<p class="plot">Plot: Peter Parker and his friends go on summer vacation to Europe, where Peter finds himself trying to save his friends against a villain known as Mysterio.</p>
									<a href="https://www.imdb.com/title/tt6320628/" target="blank"><img class="imbd" src="img/imbd.png"></a>
								</div>
							</div>
						</a>

					</div>