					<div id="trailers">
						
						<div class="movie">
							<iframe src="https://www.youtube.com/embed/ue80QwXMRHg"></iframe>
							<h3 class="movName">Thor: Ragnarok</h3>
						</div>
							<div class="movie">
							<iframe src="https://www.youtube.com/embed/n9DwoQ7HWvI"></iframe>
							<h3 class="movName">Spider-Man: Homecoming</h3>
						</div>
						<div class="movie">
							<iframe src="https://www.youtube.com/embed/xjDjIWPwcPU"></iframe>
							<h3 class="movName">Black Panther</h3>
						</div>
						<div class="movie">
							<iframe src="https://www.youtube.com/embed/HSzx-zryEgM"></iframe>
							<h3 class="movName">Doctor Strange</h3>
						</div>
						<div class="movie">
							<iframe src="https://www.youtube.com/embed/6ZfuNTqbHE8"></iframe>
							<h3 class="movName">Avengers: Infinity War</h3>
						</div>

					</div>